{% extends "dashboard/base_dashboard.html" %}
{% block title %}{{ title }}{% endblock %}
{% block dash_content %}
<h2>{{ title }}</h2>
<form method="post" class="styled" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.instance.image %}
        <p><img src="{{ form.instance.image.url }}" class="thumb" style="width:80px; height:80px;"></p>
    {% endif %}
    {{ form.as_p }}
    <button type="submit" class="btn">Save</button>
    <a href="{% url 'dashboard_products' %}" class="btn btn-outline">Cancel</a>
</form>
{% endblock %}
